repos:
  - repo: https://github.com/mvdan/gofumpt
    rev: v0.6.0
    hooks:
      - id: gofumpt
        args: ["-w"]
  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
      - id: govulncheck
        name: govulncheck
        entry: govulncheck ./...
        language: system
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.8
    hooks:
      - id: golangci-lint
        args: ["run"]
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: goimports -w -local github.com/jingle2008/toolkit .
        language: system
        types: [go]
  - repo: https://github.com/mgechev/revive
    rev: v1.3.7
    hooks:
      - id: revive
        args: ["-config=.revive.toml", "-formatter=stylish", "./..."]
